<section class="custom-shopping-container">
  <div class="custom-shopping-image">
    <img src="assets/images/custom.jpg" alt="Vêtements très colorés accrochés sur un grand mur" />
  </div>

  <div class="custom-shopping-content">
    <h2 class="custom-shopping-title">Shopping personnalisé</h2>

    <h3 class="custom-shopping-subtitle">Votre style sur-mesure</h3>

    <p class="custom-shopping-text">
      Vous avez une idée précise de ce que vous voulez, mais pas le temps ou les moyens de le trouver ? <br>
      Confiez-moi votre recherche !<br>
      Envoyez-moi votre moodboard ou vos inspirations, ainsi que vos préférences (taille, couleurs, styles) et je déniche pour vous des pièces de seconde main adaptées à vos envies.<br>
      Un service sur-mesure pour un dressing éthique et stylé, sans effort !<br>
      Premier contact par mail:
      <a href="mailto:neovintage.friperie@gmail.com">neovintage.friperie&#64;gmail.com</a>
    </p>

    <div class="custom-shopping-cards">
      <div class="custom-shopping-card">
        <i class="fa-solid fa-cart-shopping"></i>
        <h4>
          Panier à 20€
        </h4>
        <p>
          Une tenue
        </p>
        <p>
          Un accessoire
        </p>
      </div>

      <div class="custom-shopping-card">
        <i class="fa-solid fa-cart-shopping"></i>
        <h4>
          Panier à 40€
        </h4>
        <p>
          Deux tenues
        </p>
        <p>
          Un accessoire
        </p>
      </div>

      <div class="custom-shopping-card">
        <i class="fa-solid fa-cart-plus"></i>
        <h4>
          Panier à 60€
        </h4>
        <p>
          Deux tenues
        </p>
        <p>
          Un accessoire
        </p>
        <p>
          Une veste,
          un manteau ou
          une paire de chaussures
        </p>
      </div>
    </div>
  </div>
</section>
