<section class="about-container">
  <div class="about-image">
    <img src="assets/images/emmanuelle.jpg" alt="Emmanuelle devant un mur coloré" />
  </div>

  <div class="about-content">
    <h2 class="about-title">Qui suis-je</h2>

    <h3 class="about-subtitle">Découvrez mon univers vintage</h3>

    <p class="about-text">
      Originaire de Chenôve, j’ai fondé ma boutique pour partager mon amour des vêtements intemporels et chargés d’histoire.
      Chaque pièce est minutieusement sélectionnée pour offrir des trésors uniques, mêlant élégance rétro et authenticité.
      Installée dans ma ville natale, ma boutique reflète le charme d’antan et la créativité moderne,
      tout en valorisant la mode durable et en cultivant une expérience chaleureuse et conviviale
    </p>

    <div class="about-cards">
      <div class="about-card">
        <h4>
          <i class="fa-solid fa-check"></i>
          Des trésors intemporels
        </h4>
        <p>
          Chaque vêtement et accessoire raconte une histoire. Minutieusement choisis, ils allient style rétro et qualité,
          pour que chacun trouve la pièce qui lui correspond.
        </p>
      </div>

      <div class="about-card">
        <h4>
          <i class="fa-solid fa-check"></i>
          Un engagement pour la planète
        </h4>
        <p>
          Je valorise la mode durable en donnant une seconde vie à des vêtements de qualité. Ma boutique est un lieu
          d’échange et de solidarité, pour consommer la mode autrement.
        </p>
      </div>
    </div>
  </div>
</section>
