<section class="footer-container">
  <div class="footer-content">
    <div class="footer-text-container">
      <h2 class="footer-title">Contact</h2>
      <p class="footer-text">Vous avez une question ? N'hésitez pas à nous contacter par mail à l'adresse suivante :
        <a href="mailto:neovintage.friperie&#64;gmail.com">neovintage.friperie&#64;gmail.com</a>
      </p>
    </div>
    <div class="footer-text-container">
      <h2 class="footer-title">Suivez-nous</h2>
      <div class="social-media-container">
        <a href="https://www.facebook.com/profile.php?id=61569847315477" target="_blank" class="social-media-link">
          <img src="assets/images/facebook.svg" alt="Logo Facebook" class="social-media-icon"/>
        </a>
        <a href="https://www.instagram.com/shopneovintage/" target="_blank" class="social-media-link">
          <img src="assets/images/instagram.svg" alt="Logo Instagram" class="social-media-icon"/>
        </a>
        <a href="https://www.tiktok.com/fr/" target="_blank" class="social-media-link">
          <img src="assets/images/tiktok.svg" alt="Logo TikTok" class="social-media-icon"/>
        </a>
        <a href="https://www.vinted.fr/member/11729892-emmanuellevly" target="_blank" class="social-media-link">
          <img src="assets/images/vinted.svg" alt="Logo Vinted" class="social-media-icon"/>
        </a>
      </div>
    </div>
  </div>
</section>
