:root {
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-tertiary: #333333;
  --background-primary: #f8f9fa;
  --button-color: #ff4500;
  --button-color-hover: #ff8c00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: var(--text-primary);
  overflow-x: hidden;
}

body {
  background-color: var(--background-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Raleway, serif;
}
