<section class="services-container">
  <h2 class="services-title">Services Proposés</h2>
  <h3 class="services-subtitle">Découvrez nos services les plus demandés</h3>
  <p class="services-text">Explorez une friperie unique, découvrez le talent de créateurs passionnés, et composez votre panier personnalisé pour une expérience shopping sur mesure.</p>
  <div class="services-content">
    @for (service of services; track $index) {
      <app-cards-services
      [image]="service.image"
      [title]="service.title"
      [description]="service.description"
      [link]="service.link">
    </app-cards-services>
    }
  </div>
</section>
